html, body {
  margin: 0;
}
body
{
  background-color: black;
  color: white;
  font-family: sans-serif;}
canvas {
  display: block;}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: -4px;
  right: 5px;

  color: transparent;
  text-shadow: 0 0 4px white;
}